SECRET_KEY=xkFsDJc_TkHqYCyJ3uTQdiALKyWpJRxfPEAtwBBl4Ss
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
ALLOW_ALL_ORIGINS=True

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=hoxgvyni
DATABASE_USER=hoxgvyni
DATABASE_PASSWORD=d_QVgh-AwKpVEEWDDUM-vwP9E6eS0h_N
DATABASE_HOST=trumpet.db.elephantsql.com
DATABASE_PORT=5432
